<h1>Flights#index</h1>

<%= render 'form', airports: @airports, days: @days%>

<h1>Flights</h1>
<% if @flights.present? %>
    <%= render 'result_form', flights: @flights %>
<% else %>
  <p>No flights match your search</p>
<% end %>
